.ant-form-item-with-help .ant-form-item-explain {
  min-height: 30px;
}

.ant-form-item-explain-error {
  font-size: 12px;
  margin-top: 4px;
}

.ant-input-affix-wrapper {
  padding: 4.5px 11px;
}

.ant-btn {
  i {
    @apply me-1;
  }
}

.ant-modal-confirm-content {
  font-size: 13px !important;
}

// .table-fluid {
//   height: 100%;

//   .ant-spin-nested-loading,
//   .ant-spin-container,
//   .ant-table,
//   .ant-table-scroll,
//   .ant-table-body-inner,
//   .ant-table-fixed-left,
//   .ant-table-content,
//   .ant-table-container,
//   .ant-table-placeholder {
//     height: 100%;
//   }

//   .ant-table-content {
//     position: relative;
//   }

//   .ant-table-body {
//     height: calc(100% - 80px);
//   }

//   .ant-table-body-outer {
//     height: calc(100% - 80px);
//   }

//   .ant-table-body-inner {
//     overflow-x: hidden;
//   }

//   td,
//   th {
//     font-size: 13px !important;
//   }

//   .row-selected>.ant-table-cell-row-hover {
//     background: transparent !important;
//   }

//   td.ant-table-column-sort,
//   th.ant-table-column-sort {
//     background-color: #fafafa !important;
//   }
// }


// .ant-checkbox-inner {
//   border-radius: 2px;
// }