.img-fluid {
  width: auto;
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

.app-card {
  @apply p-6 bg-white rounded-lg shadow-lg shadow-slate-200;
}

.form-disabled {
  pointer-events: none;
  opacity: 0.8;

  input {
    background: #eee;
  }
}

@for $i from 1 through 10 {
  .text-ellipsis#{if($i == 1, '',-#{$i})} {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: $i;
    line-clamp: $i;
    -webkit-box-orient: vertical;
    white-space: normal;
    word-break: break-word;
  }
}
